/*在css文件中，默认的html元素可以直接使用名称，这里定义了整个网页body部分的颜色，
是十六进制的RGB表示方法，即图片周边的暗红色。也可以使用哪个url()的方式为body部分
设置背景图片*/
body{
    background-color: #FFFFFF;
    /*background-color: red;*/
}
/*html元素的id属性使用#开头。width、herght表示宽与高，大小使用像素表示。
margin表示显示方式，默认靠左，auto设置为居中显示，并设定背景颜色为red*/
#head{
    width: 100%;
    height: 80px;
    margin: auto;
    background-color: green;
}

.author{
    float: left;
    margin-left: 80px;
    /*margin: auto;*/
}

.createtime{
    float: right;
    margin-right: 20%;
}


#container{
    width: 100%;
    height: 480px;
    margin: auto;
    margin-top: 0px;
    background-color: yellow;
}
/*html元素定义class属性使用点.开头。float设置该块的漂浮属性，在container内向左移,
另一个快siderbar在container内向右移*/
.main{
    float: left;
    width: 80%;
    height: 500px;
    background-color: #BBBBBB;
}
/*因为main和siderbar在container内，所以两个块的宽度之和不应该超过container的宽度*/
.sidebar{
    float: right;
    width: 20%;
    height: 500px;
    background-color: gray;
}


/*底部块的id值，大小及颜色、居中显示*/
#bottom{
    width: 100%;
    height: 90px;
    background-color: #FFAA44;
    margin: auto;
    
}
/*重新定义h1元素的显示，由于h1默认有边距margin-top将顶部间距设为0，
text-align为设置字体的显示位置属性：center是居中显示，font-size定义大小*/
h1{
    margin-top: 0px;
    text-align: center;
    color: yellow;
    font-size: 35px;
}
/*定义bottom中的h1显示方式，其他的h1字体颜色为white，此处h1颜色为red，大小也改变。
当多处定义了同一个元素时，最精确的生效*/
#bottom h1{
    margin-top: 0px;
    text-align: center;
    color: red;
    font-size: 50px;
}
